.mapillary_container {
    width: 90%;
    height: 30vh;
    margin: 0 auto;
}
.mapillary-canvas{
    position:relative !important;
}
.control-arrow {
    background: rgba(0,0,0,0.2) !important;
}
.control-arrow:hover {
    background: rgba(0,0,0,0.4) !important;
}